<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App de notas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Bienvenido</h1>
    <main>
        <div class="options">
            <h2>Esta es una app de notas, por favor inicia sesión o regístrate para poder crear notas</h2>
            <div class="buttons">
                <button><a href="/iniciar-sesion">Iniciar sesión</a></button>
                <button><a href="/registrarse">Registrarse</a></button>
            </div>
            
        </div>
    </main>
    
</body>
</html>